<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.14159265359" />

  <!-- Perfect Barometer -->
  <xacro:macro
    name="hmc5883l"
    params="namespace parent_link mag_topic inclination declination"/>
    <xacro:magnetometer_plugin_macro
      namespace="${namespace}"
      parent_link="${parent_link}"
      mag_topic="${mag_topic}"
      noise_sigma="0.02"
      pub_rate="160"
      declination="${declination}"
      inclination="${inclination}">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:magnetometer_plugin_macro>
  </xacro:macro>

    <!-- Macro to add an altimeter. -->
  <xacro:macro name="magnetometer_plugin_macro"
    params="namespace
            parent_link
            mag_topic
            noise_sigma
            pub_rate
            declination
            inclination
            *inertia
            *origin">

    <!-- altimeter link -->
    <link name="${namespace}/magnetometer_link">
      <inertial>
        <xacro:insert_block name="inertia" />
        <mass value="0.0001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
      </inertial>
    </link>

    <!-- magnetometer joint -->
    <joint name="${namespace}/magnetometer_joint" type="revolute">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${namespace}/magnetometer_link" />
      <limit upper="0" lower="0" effort="0" velocity="0" />
    </joint>
    <gazebo>
      <plugin filename="libfcu_sim_magnetometer_plugin.so" name="fcu_sim_magnetometer_plugin">
      <namespace>${namespace}<namespace/>
      <linkName>${linkName}<linkName/>
      <mag_topic>${mag_topic}<mag_topic/>
      <noise_sigma>${noise_sigma}<noise_sigma/>
      <bias_sigma>${bias_sigma}<bias_sigma/>
      <pub_rate>${pub_rate}<pub_rate/>
      <declination>${declination}<declination/>
      <inclination>${inclination}<inclination/>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
