<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- HMC5883L (on Naze32 and PixHawk) -->
  <xacro:macro
    name="hmc5883l"
    params="namespace parent_link mag_topic inclination declination">
    <xacro:magnetometer_plugin_macro
      namespace="${namespace}"
      parent_link="${parent_link}"
      mag_topic="${mag_topic}"
      noise_sigma="0.02"
      bias_sigma="0.02"
      pub_rate="160"
      declination="${declination}"
      inclination="${inclination}">
    </xacro:magnetometer_plugin_macro>
  </xacro:macro>

    <!-- Macro to add a magnetometer. -->
  <xacro:macro name="magnetometer_plugin_macro"
    params="namespace
            parent_link
            mag_topic
            noise_sigma
            bias_sigma
            pub_rate
            declination
            inclination
            *inertia
            *origin">

    <gazebo>
      <plugin filename="magnetometer_plugin.so" name="fcu_sim_magnetometer_plugin">
      <namespace>${namespace}</namespace>
      <linkName>${parent_link}</linkName>
      <mag_topic>${mag_topic}</mag_topic>
      <noise_sigma>${noise_sigma}</noise_sigma>
      <bias_sigma>${bias_sigma}</bias_sigma>
      <pub_rate>${pub_rate}</pub_rate>
      <declination>${declination}</declination>
      <inclination>${inclination}</inclination>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
