<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.14159265359" />

    <!-- Forces And Moments Plugin -->
    <xacro:macro
      name="shredder_forces_and_moments"
      params="namespace parent_link command_topic">
      <xacro:multirotor_forces_and_moments_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        wind_speed_topic="gazebo/wind_speed"
        command_topic="${command_topic}"
        parent_frame_id="${parent_link}"
        mass="3.81"
        mu="0.01"
        max_l="12.542"
        max_m="12.542"
        max_n="0.4505"
        max_F="109.86"
        tau_up_l="0.1972"
        tau_up_m="0.1972"
        tau_up_n="0.1766"
        tau_up_F="0.1766"
        tau_down_l="0.1972"
        tau_down_m="0.1972"
        tau_down_n="0.2179"
        tau_down_F="0.2179"
        roll_P="25.0"
        roll_I="0.0"
        roll_D="8.0"
        pitch_P="25.0"
        pitch_I="0.0"
        pitch_D="8.0"
        yaw_P="90"
        yaw_I="0.0"
        yaw_D="0.0"
        alt_P="16.0"
        alt_I="5.0"
        alt_D="32.0">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:multirotor_forces_and_moments_macro>
    </xacro:macro>

    <xacro:macro
      name="mikey_forces_and_moments"
      params="namespace parent_link command_topic">
      <xacro:multirotor_forces_and_moments_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        wind_speed_topic="gazebo/wind_speed"
        command_topic="${command_topic}"
        parent_frame_id="${parent_link}"
        mass="3.856"
        mu="1"
        max_l="6.5080"
        max_m="5.087"
        max_n="0.099828"
        max_F="59.844"
        tau_up_l="0.1904"
        tau_up_m="0.1904"
        tau_up_n="0.1644"
        tau_up_F="0.1644"
        tau_down_l="0.1904"
        tau_down_m="0.1904"
        tau_down_n="0.2164"
        tau_down_F="0.2164"
        roll_P="25.0"
        roll_I="0.0"
        roll_D="8.0"
        pitch_P="25.0"
        pitch_I="0.0"
        pitch_D="8.0"
        yaw_P="10"
        yaw_I="0.0"
        yaw_D="0.0"
        alt_P="16.0"
        alt_I="5.0"
        alt_D="32.0">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:multirotor_forces_and_moments_macro>
    </xacro:macro>


  <!-- Macro to add a generic multirotor forces and moments plugin. -->
  <xacro:macro name="multirotor_forces_and_moments_macro"
    params="
        namespace parent_link wind_speed_topic command_topic parent_frame_id mass
        mu max_l max_m max_n max_F tau_up_l tau_up_m tau_up_n tau_up_F tau_down_l tau_down_m
        tau_down_n tau_down_F roll_P roll_I roll_D pitch_P pitch_I pitch_D yaw_P yaw_I yaw_D alt_P
        alt_I alt_D *inertia *origin">

    <!-- link -->
    <link name="${namespace}/multirotor_forces_and_moments_link">
      <inertial>
        <xacro:insert_block name="inertia" />
        <mass value="0.001"/>
      </inertial>
    </link>

    <!-- joint -->
    <joint name="${namespace}/multirotor_forces_and_moments_joint" type="revolute">
      <parent link="${parent_link}" />
      <xacro:insert_block name="origin" />
      <child link="${namespace}/multirotor_forces_and_moments_link" />
      <limit upper="0" lower="0" effort="0" velocity="0" />
    </joint>

    <!-- plugin -->
    <gazebo>
      <plugin filename="libmultirotor_forces_and_moments_plugin.so" name="multirotor_forces_and_moments">
        <linkName>${namespace}/multirotor_forces_and_moments_link</linkName>
        <namespace>${namespace}</namespace>
        <windSpeedTopic>${wind_speed_topic}</windSpeedTopic>
        <commandTopic>${command_topic}</commandTopic>
        <parentFrameId>${parent_frame_id}</parentFrameId>
        <mass>${mass}</mass>
        <mu>${mu}</mu>
        <max_l>${max_l}</max_l>
        <max_m>${max_m}</max_m>
        <max_n>${max_n}</max_n>
        <max_F>${max_F}</max_F>
        <tau_up_l>${tau_up_l}</tau_up_l>
        <tau_up_m>${tau_up_m}</tau_up_m>
        <tau_up_n>${tau_up_n}</tau_up_n>
        <tau_up_F>${tau_up_F}</tau_up_F>
        <tau_down_l>${tau_down_l}</tau_down_l>
        <tau_down_m>${tau_down_m}</tau_down_m>
        <tau_down_n>${tau_down_n}</tau_down_n>
        <tau_down_F>${tau_down_F}</tau_down_F>
        <roll_P>${roll_P}</roll_P>
        <roll_I>${roll_I}</roll_I>
        <roll_D>${roll_D}</roll_D>
        <pitch_P>${pitch_P}</pitch_P>
        <pitch_I>${pitch_I}</pitch_I>
        <pitch_D>${pitch_D}</pitch_D>
        <yaw_P>${yaw_P}</yaw_P>
        <yaw_I>${yaw_I}</yaw_I>
        <yaw_D>${yaw_D}</yaw_D>
        <alt_P>${alt_P}</alt_P>
        <alt_I>${alt_I}</alt_I>
        <alt_D>${alt_D}</alt_D>
      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
