<?xml version="1.0"?>
<!--
  Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
  Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
  Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
  Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
  Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot name="shredder" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Plugin Macro Locations -->
  <xacro:include filename="$(find rotor_gazebo)/urdf/component_snippets.xacro" />

  <!-- Instantiate shredder mechanics -->
  <xacro:include filename="$(find rotor_gazebo)/urdf/shredder_mechanics.xacro" />

  <!-- Instantiate a controller for the motors. -->
  <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />

  <!-- Enable Ground Truth - Used by attitude_controller -->
  <xacro:if value="$(arg enable_ground_truth)">
    <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/odometry_sensor.xacro"/>
    <xacro:ground_truth namespace="${namespace}" parent_link="${namespace}/base_link" />
  </xacro:if>

  <!-- Mount an IMU. -->
  <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/imu.xacro"/>
  <xacro:IMU_ADIS16448 
    namespace="" 
    parent_link="${namespace}/base_link" 
    imu_topic="imu"/>

  <!--Enable Wind -->
  <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/wind.xacro"/>
  <xacro:wind_param
    namespace=""
    link_name="${namespace}/base_link"
    wind_pub_topic="wind"/>

  <!-- Mount an Altimeter -->
  <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/altimeter.xacro"/>
  <xacro:Sonar_MB1030 
    namespace="" 
    parent_link="${namespace}/base_link"
    altimeter_topic="altimeter"/>

  <!-- Mount an RGBD Camera -->
  <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/rgbd.xacro"/>
  <xacro:xtion 
    namespace="" 
    parent_link="${namespace}/base_link"/>

  <!-- Laser Scanner -->
  <xacro:include filename="$(find rotor_gazebo_plugins)/xacro/laser_scanner.xacro"/>
  <xacro:hokuyo_UTM-30LX
    namespace=""
    parent_link="${namespace}/base_link"
    visualize="false"/>

  <!-- Instantiate a logger - haven't yet tried this, but left functionality just in case -->
  <xacro:if value="$(arg enable_logging)">
    <xacro:bag_plugin_macro
      namespace=""
      bag_file="$(arg log_file)"
      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}" />
  </xacro:if>

</robot>
