<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- gazebo running.  It requires a relative_nav::Command on /command -->
<!-- to move the hex, and outputs imu, altimeter, laserscan and RGBD images -->
<!-- as well as a relative_nav::FilterState message on /global_state  -->
<!-- a geometry_msgs::StampedTransform on /mocap to imitate motion capture -->


<launch>
  <arg name="mav_name"            default="junker"/>
  <arg name="enable_logging"      default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file"            default="$(arg mav_name)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fcu_sim)/worlds/fixed_wing.world"/> <!-- auvsi.world"/> -->
    <arg name="paused" value="true"/>
  </include>

  <!-- Spawn MAV -->
  <include file="$(find fcu_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find fcu_sim)/urdf/$(arg mav_name)/$(arg mav_name)_base.xacro" />
    <arg name="enable_logging"      value="$(arg enable_logging)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="log_file"          value="$(arg log_file)"/>
  </include>
<!--
  <node name="joy" pkg="fcu_common" type="fcu_common_joy">
    <param name="x_axis" value="0"/>
    <param name="y_axis" value="1"/>
    <param name="yaw_axis" value="4"/>
    <param name="axis_thrust_" value="2"/>
    <param name="y_sign" value="-1"/>
    <param name="x_sign" value="1"/>
  </node>

  <node name="xbox" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0"/>
  </node>
  -->

  <node name="autopilot" pkg="ros_plane" type="ros_plane_controller" >
    <!-- <remap from="command" to="autopilot_command"/> -->
    <remap from="state" to="/junker/truth"/> <!--  -->
  </node>

  <node name="estimator" pkg="ros_plane" type="ros_plane_estimator" output="screen">
    <remap from="/baro/data" to="/junker/baro/data"/>
    <remap from="/imu/data" to="/junker/imu/data"/>
    <remap from="/airspeed/data" to="/junker/airspeed/data"/>
  </node>

  <node name="chase" pkg="image_view" type="image_view">
    <remap from="image" to="/junker/camera/chase/rgb"/>
  </node>

  <!--<node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->

</launch>
